/* ---------------- //Media queries para ferreteria (280px a 375px) ---------------- */
@media(min-width:280px) and (max-width:375px){


    .moverSelect{

        margin-bottom: 200px;
        margin-left: -200px;

    }

    .tarjetaFerreteria{

        margin-left: -110px;

    }

    .group {

        display: flex;
        line-height: 28px;
        align-items: center;
        position: relative;
        max-width: 190px;
        margin-left: 20px;
        margin-top: 45px;
    
    }


    #grillaFerre {

        display: grid;
        grid-template-columns: auto;
        padding: 130px;
        gap: 70px;
        place-items: center;
        margin-top: -140px;

    }  

    .txtNodispo{

        margin-left: -100px;

    }
    
    .noDispo{

        margin-left: -125px;
        height: 260px;

    }

    .moverBadge{

        margin-left: 180px;
        width: 80px;
        margin-top: -75px;

    }

    .logoResp{

        margin-bottom: 10px;
        margin-left: -5px;

    }

    



}

/* ---------------- //Media queries para ferreteria (375px a 412px) ---------------- */
@media(min-width:375px) and (max-width:412px){


    .moverSelect{

        margin-bottom: 200px;
        margin-left: -185px;

    }

    .tarjetaFerreteria{

        margin-left: -65px;

    }

    .group {

        display: flex;
        line-height: 28px;
        align-items: center;
        position: relative;
        max-width: 190px;
        margin-left: 65px;
        margin-top: 45px;
    
    }


    #grillaFerre {

        display: grid;
        grid-template-columns: auto;
        padding: 130px;
        gap: 70px;
        place-items: center;
        margin-top: -140px;

    }  

    .txtNodispo{

        margin-left: -60px;

    }
    
    .noDispo{

        margin-left: -85px;
        height: 260px;

    }

    .moverBadge{

        margin-left: 275px;
        width: 80px;
        

    }

    .logoResp{

        margin-top: 20px;
        margin-left: -5px;

    }

    



}

/* ---------------- //Media queries para ferreteria (412px a 480px) ---------------- */
@media(min-width:412px) and (max-width:480px){


    .moverSelect{

        margin-bottom: 200px;
        margin-left: -195px;

    }

    .tarjetaFerreteria{

        margin-left: -45px;

    }

    .group {

        display: flex;
        line-height: 28px;
        align-items: center;
        position: relative;
        max-width: 190px;
        margin-left: 72px;
        margin-top: 45px;
    
    }


    #grillaFerre {

        display: grid;
        grid-template-columns: auto;
        padding: 130px;
        gap: 70px;
        place-items: center;
        margin-top: -140px;

    }  

    .txtNodispo{

        margin-left: -35px;

    }
    
    .noDispo{

        margin-left: -75px;
        height: 260px;

    }

    .moverBadge{

        margin-left: 310px;
        width: 80px;
        margin-top: -100px;

    }

    .logoResp{

        margin-bottom: 20px;
        margin-left: -5px;

    }

    



}

/* ---------------- //Media queries para ferreteria (480px a 550px) ---------------- */
@media(min-width:480px) and (max-width:550px){


    .moverSelect{

        margin-bottom: 200px;
        margin-left: -195px;

    }

    .tarjetaFerreteria{

        margin-left: -55px;

    }

    .group {

        display: flex;
        line-height: 28px;
        align-items: center;
        position: relative;
        max-width: 190px;
        margin-left: 95px;
        margin-top: 45px;
    
    }


    #grillaFerre {

        display: grid;
        grid-template-columns: auto;
        padding: 130px;
        gap: 70px;
        place-items: center;
        margin-top: -140px;

    }  

    .txtNodispo{

        margin-left: -35px;

    }
    
    .noDispo{

        margin-left: -75px;
        height: 260px;

    }

    .moverBadge{

        margin-left: 375px;
        width: 80px;

    }

    .logoResp{

        margin-bottom: 20px;
        margin-left: -5px;

    }

    



}

/* ---------------- //Media queries para ferreteria (550px a 650px) ---------------- */
@media(min-width:550px) and (max-width:650px){


    .moverSelect{

        margin-bottom: 200px;
        margin-left: -195px;

    }

    .tarjetaFerreteria{

        margin-left: -55px;

    }

    .group {

        display: flex;
        line-height: 28px;
        align-items: center;
        position: relative;
        max-width: 190px;
        margin-left: 135px;
        margin-top: 45px;
    
    }


    #grillaFerre {

        display: grid;
        grid-template-columns: auto;
        padding: 130px;
        gap: 70px;
        place-items: center;
        margin-top: -140px;

    }  

    .txtNodispo{

        margin-left: -35px;

    }
    
    .noDispo{

        margin-left: -75px;
        height: 260px;

    }

    .moverBadge{

        margin-left: 445px;
        width: 80px;
        margin-top: -80px;

    }

    .logoResp{

        margin-bottom: 10px;
        margin-left: -5px;

    }

    



}

/* ---------------- //Media queries para ferreteria (650px a 750px) ---------------- */
@media(min-width:650px) and (max-width:750px){


    .moverSelect{

        margin-bottom: 200px;
        margin-left: -195px;

    }

    .tarjetaFerreteria{

        margin-left: -55px;

    }

    .group {

        display: flex;
        line-height: 28px;
        align-items: center;
        position: relative;
        max-width: 190px;
        margin-left: 175px;
        margin-top: 45px;
    
    }


    #grillaFerre {

        display: grid;
        grid-template-columns: auto;
        padding: 130px;
        gap: 70px;
        place-items: center;
        margin-top: -140px;

    }  

    .txtNodispo{

        margin-left: -35px;

    }
    
    .noDispo{

        margin-left: -75px;
        height: 260px;

    }

    .moverBadge{

        margin-left: 545px;
        width: 80px;

    }

    .logoResp{

        margin-bottom: 10px;
        margin-left: -5px;

    }

    



}

/* ---------------- //Media queries para ferreteria (750px a 850px) ---------------- */
@media(min-width:750px) and (max-width:850px){


    .moverSelect{

        margin-bottom: 200px;
        margin-left: -195px;

    }

    .tarjetaFerreteria{

        margin-left: -55px;

    }

    .group {

        display: flex;
        line-height: 28px;
        align-items: center;
        position: relative;
        max-width: 190px;
        margin-left: 225px;
        margin-top: 45px;
    
    }


    #grillaFerre {

        display: grid;
        grid-template-columns: auto;
        padding: 130px;
        gap: 70px;
        place-items: center;
        margin-top: -140px;

    }  

    .txtNodispo{

        margin-left: -35px;

    }
    
    .noDispo{

        margin-left: -75px;
        height: 260px;

    }

    .moverBadge{

        margin-left: 645px;
        width: 80px;
        margin-top: -80px;

    }

    .logoResp{

        margin-bottom: 10px;
        margin-left: -5px;

    }

    



}

/* ---------------- //Media queries para ferreteria (850px a 950px) ---------------- */
@media(min-width:850px) and (max-width:950px){


    .moverSelect{

        margin-bottom: 200px;
        margin-left: -195px;

    }

    .tarjetaFerreteria{

        margin-left: -55px;

    }

    .group {

        display: flex;
        line-height: 28px;
        align-items: center;
        position: relative;
        max-width: 190px;
        margin-left: 285px;
        margin-top: 45px;
    
    }


    #grillaFerre {

        display: grid;
        grid-template-columns: auto auto;
        padding: 130px;
        gap: 70px;
        place-items: center;
        margin-top: -140px;

    }  

    .txtNodispo{

        margin-left: -35px;

    }
    
    .noDispo{

        margin-left: -75px;
        height: 260px;

    }

    .moverBadge{

        margin-left: 745px;
        width: 80px;

    }

    .logoResp{

        margin-bottom: 10px;
        margin-left: -5px;

    }

    



}

/* ---------------- //Media queries para ferreteria (950px a 991px) ---------------- */
@media(min-width:950px) and (max-width:991px){


    .moverSelect{

        margin-bottom: 200px;
        margin-left: -195px;

    }

    .tarjetaFerreteria{

        margin-left: -55px;

    }

    .group {

        display: flex;
        line-height: 28px;
        align-items: center;
        position: relative;
        max-width: 190px;
        margin-left: 335px;
        margin-top: 45px;
    
    }


    #grillaFerre {

        display: grid;
        grid-template-columns: auto auto;
        padding: 130px;
        gap: 70px;
        place-items: center;
        margin-top: -140px;

    }  

    .txtNodispo{

        margin-left: -35px;

    }
    
    .noDispo{

        margin-left: -75px;
        height: 260px;

    }

    .moverBadge{

        margin-left: 835px;
        width: 80px;
        margin-top: -80px;

    }

    .logoResp{

        margin-bottom: 10px;
        margin-left: -5px;

    }

    



}

/* ---------------- //Media queries para ferreteria (991px a 992px) ---------------- */
@media(min-width:991px) and (max-width:992px){


    .moverSelect{

        margin-bottom: 200px;
        margin-left: -195px;

    }

    .tarjetaFerreteria{

        margin-left: -55px;

    }

    .group {

        display: flex;
        line-height: 28px;
        align-items: center;
        position: relative;
        max-width: 190px;
        margin-left: 335px;
        margin-top: 45px;
    
    }


    #grillaFerre {

        display: grid;
        grid-template-columns: auto auto;
        padding: 130px;
        gap: 70px;
        place-items: center;
        margin-top: -140px;

    }  

    .txtNodispo{

        margin-left: -35px;

    }
    
    .noDispo{

        margin-left: -75px;
        height: 260px;

    }

    .moverBadge{

        margin-left: 895px;
        width: 80px;

    }

    .logoResp{

        margin-bottom: 10px;
        margin-left: -5px;

    }

    



}

/* ---------------- //Media queries para ferreteria (992px a 993px) ---------------- */
@media(min-width:992px) and (max-width:993px){


    .moverSelect{

        margin-bottom: 200px;
        margin-left: -195px;

    }

    .tarjetaFerreteria{

        margin-left: -55px;

    }

    .group {

        display: flex;
        line-height: 28px;
        align-items: center;
        position: relative;
        max-width: 190px;
        margin-left: 335px;
        margin-top: 45px;
    
    }


    #grillaFerre {

        display: grid;
        grid-template-columns: auto auto;
        padding: 130px;
        gap: 70px;
        place-items: center;
        margin-top: -140px;

    }  

    .txtNodispo{

        margin-left: -35px;

    }
    
    .noDispo{

        margin-left: -75px;
        height: 260px;

    }

    .moverBadge{

        margin-left: 695px;
        width: 80px;

    }

    .logoResp{

        margin-bottom: -5px;
        margin-left: -5px;

    }

    



}


/* ---------------- //Media queries para ferreteria (375px a 412px) ---------------- */
@media(min-width:376px) and (max-width:412px){


    .moverSelect{

        margin-bottom: 200px;
        margin-left: -185px;

    }

    .tarjetaFerreteria{

        margin-left: -65px;

    }

    .group {

        display: flex;
        line-height: 28px;
        align-items: center;
        position: relative;
        max-width: 190px;
        margin-left: 65px;
        margin-top: 45px;
    
    }


    #grillaFerre {

        display: grid;
        grid-template-columns: auto;
        padding: 130px;
        gap: 70px;
        place-items: center;
        margin-top: -140px;

    }  

    .txtNodispo{

        margin-left: -60px;

    }
    
    .noDispo{

        margin-left: -85px;
        height: 260px;

    }

    .moverBadge{

        margin-left: 275px;
        width: 80px;
        margin-top: -60px;
        

    }

    .logoResp{

        margin-top: 20px;
        margin-left: -5px;

    }

    



}

/* ---------------- //Media queries para ferreteria (480px a 550px) ---------------- */
@media(min-width:481px) and (max-width:550px){


    .moverSelect{

        margin-bottom: 200px;
        margin-left: -195px;

    }

    .tarjetaFerreteria{

        margin-left: -55px;

    }

    .group {

        display: flex;
        line-height: 28px;
        align-items: center;
        position: relative;
        max-width: 190px;
        margin-left: 95px;
        margin-top: 45px;
    
    }


    #grillaFerre {

        display: grid;
        grid-template-columns: auto;
        padding: 130px;
        gap: 70px;
        place-items: center;
        margin-top: -140px;

    }  

    .txtNodispo{

        margin-left: -35px;

    }
    
    .noDispo{

        margin-left: -75px;
        height: 260px;

    }

    .moverBadge{

        margin-left: 375px;
        width: 80px;
        margin-top: -100px;

    }

    .logoResp{

        margin-bottom: 20px;
        margin-left: -5px;

    }

    



}

/* ---------------- //Media queries para ferreteria (650px a 750px) ---------------- */
@media(min-width:651px) and (max-width:750px){


    .moverSelect{

        margin-bottom: 200px;
        margin-left: -195px;

    }

    .tarjetaFerreteria{

        margin-left: -55px;

    }

    .group {

        display: flex;
        line-height: 28px;
        align-items: center;
        position: relative;
        max-width: 190px;
        margin-left: 175px;
        margin-top: 45px;
    
    }


    #grillaFerre {

        display: grid;
        grid-template-columns: auto;
        padding: 130px;
        gap: 70px;
        place-items: center;
        margin-top: -140px;

    }  

    .txtNodispo{

        margin-left: -35px;

    }
    
    .noDispo{

        margin-left: -75px;
        height: 260px;

    }

    .moverBadge{

        margin-left: 545px;
        width: 80px;
        margin-top: -80px;

    }

    .logoResp{

        margin-bottom: 10px;
        margin-left: -5px;

    }

    



}

/* ---------------- //Media queries para ferreteria (850px a 950px) ---------------- */
@media(min-width:851px) and (max-width:950px){


    .moverSelect{

        margin-bottom: 200px;
        margin-left: -195px;

    }

    .tarjetaFerreteria{

        margin-left: -55px;

    }

    .group {

        display: flex;
        line-height: 28px;
        align-items: center;
        position: relative;
        max-width: 190px;
        margin-left: 285px;
        margin-top: 45px;
    
    }


    #grillaFerre {

        display: grid;
        grid-template-columns: auto auto;
        padding: 130px;
        gap: 70px;
        place-items: center;
        margin-top: -140px;

    }  

    .txtNodispo{

        margin-left: -35px;

    }
    
    .noDispo{

        margin-left: -75px;
        height: 260px;

    }

    .moverBadge{

        margin-left: 745px;
        width: 80px;
        margin-top: -80px;

    }

    .logoResp{

        margin-bottom: 10px;
        margin-left: -5px;

    }

    



}






