@media screen and (max-width:992px) {
 
    .botonEnseco{

        position: fixed;
        margin-left: -120px;
        margin-top: -20px;

    }
    
}


@media screen and (max-width:1138px) {
 
    #grillaFerre{

        grid-template-columns: auto auto;
        
        

    }
    
}

@media screen and (max-width:894px) {
 
    #grillaFerre{

        grid-template-columns: auto;
        
        

    }
    
}

@media screen and (max-width:2138px) {
 
    .group{

        position: fixed;
        
        

    }
    
}


@media screen and (max-width:526px) {

    #grillaFerre{

        margin-left: -10px;
        
        

    }
    
    
}

@media screen and (max-width:494px) {

    #grillaFerre{

        margin-left: -10px;
        
        

    }
    
    
}

@media screen and (max-width:486px) {

    #grillaFerre{

        margin-left: -10px;
        
        

    }
    
    
}

@media screen and (max-width:454px) {

    #grillaFerre{

        margin-left: -10px;
        
        

    }
    
    
}


@media screen and (min-width:280px) {

    main{

        #grillaFerre{

            margin-left: -110px;
            
            
    
        }

    }

    .botonEnseco{

        width: 60px;
        margin-left: -95px;
        
        

    }
    
    
}




@media screen and (max-width:326px) {

    .botonEnseco{

        width: 90px;
        
        

    }
    
    
}





