/* ---------------- //Media queries para index iphone (280px a 375px) ---------------- */

@media(min-width:280px) and (max-width:375px) {
    


    .fondo{

        div {



            .txtInicio {
    
                text-align: center;
                margin: -30px;
                margin-left: -10px;
                color: white;
                font-weight: bolder;
                font-size: 35px;
                margin-top: 30px;
                margin-left: -25px;
    
    
    
            }
    
            .subInicio {
    
                color: white;
                font-size: 35px;
                text-align: center;
                margin: -20px;
                margin-top: 80px;
                margin-bottom: 80px;
                font-weight: bolder;
    
            }
    
        }

    }

    .background-top{

        .container{

            width: 250px;
            margin-left: -45px;

            .tarjeta{

                height: 450px;
                
    
                .randomBtn{
        
                    margin-left: 27px;
        
                }
        
            }
    
        }


    }

    .tarjeta{

        #persona-img{

            margin-left: -5px;
            width: 200px;


        }

    }


    .textoEmpleados {

        margin-left: 25px;
        margin-bottom: 50px;
        


    }

    .fondoEmpleados {

        display: grid;
        margin-left: 5px;
        grid-template-columns: auto;
        background: #f3f1f5;
        padding: 50px;
        gap: 20px;

        .card1{

            margin-left: -15px;

        }


    }

    .grillaCards {

        display: grid;
        grid-template-columns: 2fr;
        padding-left: 130px;
        margin-left: -10px;
        gap: 30px;

        #mediaCate {

            margin-left: -5px;
            margin-bottom: 40px;
            font-size: 35px;

        }

        .card{

            margin-left: -20px;

        }


    }

    .metodosdePago{


        .mediosPago{
            margin-left: 180px;

        }


        margin-left: -180px;


    }

}




/* ---------------- //Media queries para index iphone (375px a 414px) ---------------- */

@media(min-width:375px) and (max-width:414px) {
    


    .fondo{

        div {



            .txtInicio {
    
                text-align: center;
                margin: -10px;
                margin-left: -10px;
                color: white;
                font-weight: bolder;
                font-size: 50px;
                margin-top: 30px;
    
    
    
            }
    
            .subInicio {
    
                color: white;
                font-size: 50px;
                text-align: center;
                margin: -20px;
                margin-top: 80px;
                margin-bottom: 80px;
                font-weight: bolder;
    
            }
    
        }

    }

    .background-top{

        .container{


            .tarjeta{
    
                .randomBtn{
        
                    margin-left: 35px;
        
                }
        
            }
    
        }


    }

    .tarjeta{

        #persona-img{

            margin-left: -5px;
            width: 200px;


        }

    }


    .textoEmpleados {

        margin-left: 185px;
        margin-bottom: 50px;
        


    }

    .fondoEmpleados {

        display: grid;
        margin-left: -170px;
        grid-template-columns: auto;
        background: #f3f1f5;
        padding: 50px;
        gap: 20px;


    }

    .grillaCards {

        display: grid;
        grid-template-columns: 2fr;
        padding-left: 130px;
        margin-left: -60px;
        gap: 30px;

        #mediaCate {

            margin-left: 30px;
            margin-bottom: 40px;

        }


    }

    .metodosdePago{

        .mediosPago{

            margin-left: 140px;

        }


        margin-left: -130px;


    }

    
}

/* ---------------- //Media queries para index iphone (412px a 414px) ---------------- */

@media(min-width:412px) and (max-width:414px) {
    


    .fondo{

        div {



            .txtInicio {
    
                text-align: center;
                margin: -10px;
                margin-left: -10px;
                color: white;
                font-weight: bolder;
                font-size: 50px;
                margin-top: 30px;
    
    
    
            }
    
            .subInicio {
    
                color: white;
                font-size: 50px;
                text-align: center;
                margin: -20px;
                margin-top: 80px;
                margin-bottom: 80px;
                font-weight: bolder;
    
            }
    
        }

    }

    .background-top{

        .container{


            .tarjeta{
    
                .randomBtn{
        
                    margin-left: 55px;
        
                }
        
            }
    
        }


    }

    .tarjeta{

        #persona-img{

            margin-left: -5px;
            width: 200px;


        }

    }


    .textoEmpleados {

        margin-left: 182px;
        margin-bottom: 50px;
        


    }

    .fondoEmpleados {

        display: grid;
        margin-left: -145px;
        grid-template-columns: auto;
        background: #f3f1f5;
        padding: 50px;
        gap: 20px;


    }

    .grillaCards {

        display: grid;
        grid-template-columns: 2fr;
        padding-left: 130px;
        margin-left: -45px;
        gap: 30px;

        #mediaCate {

            margin-left: 25px;
            margin-bottom: 40px;

        }


    }

    .metodosdePago{

        .mediosPago{

            margin-left: 140px;

        }


        margin-left: -130px;


    }

    
}






/* ---------------- //Media queries para index iphone (414px a 480px) ---------------- */

@media(min-width:414px) and (max-width:480px) {
    


    .fondo{

        div {



            .txtInicio {
    
                text-align: center;
                margin: -10px;
                margin-left: -10px;
                color: white;
                font-weight: bolder;
                font-size: 50px;
                margin-top: 30px;
    
    
    
            }
    
            .subInicio {
    
                color: white;
                font-size: 50px;
                text-align: center;
                margin: -20px;
                margin-top: 80px;
                margin-bottom: 80px;
                font-weight: bolder;
    
            }
    
        }

    }

    .background-top{

        .container{


            .tarjeta{
    
                .randomBtn{
        
                    margin-left: 48px;
        
                }
        
            }
    
        }


    }

    .tarjeta{

        #persona-img{

            margin-left: -5px;
            width: 200px;


        }


    }


    .textoEmpleados {

        margin-left: 210px;
        margin-bottom: 50px;
        


    }

    .fondoEmpleados {

        display: grid;
        margin-left: -170px;
        grid-template-columns: auto;
        background: #f3f1f5;
        padding: 50px;
        gap: 20px;

        .card1{

            margin-left:220px;

        }


    }

    .grillaCards {

        display: grid;
        grid-template-columns: 2fr;
        padding-left: 130px;
        margin-left: -60px;
        gap: 30px;

        #mediaCate {

            margin-left: 30px;
            margin-bottom: 40px;

        }


    }

    .metodosdePago{

        .mediosPago{

            margin-left: 130px;

        }


        margin-left: -120px;


    }

    


}

/* ---------------- //Media queries para index iphone (480px a 550px) ---------------- */

@media(min-width:480px) and (max-width:550px) {
    


    .fondo{

        div {



            .txtInicio {
    
                text-align: center;
                margin: -10px;
                margin-left: -10px;
                color: white;
                font-weight: bolder;
                font-size: 50px;
                margin-top: 30px;
    
    
    
            }
    
            .subInicio {
    
                color: white;
                font-size: 50px;
                text-align: center;
                margin: -20px;
                margin-top: 80px;
                margin-bottom: 80px;
                font-weight: bolder;
    
            }
    
        }

    }

    .background-top{

        .container{


            .tarjeta{
    
                .randomBtn{
        
                    margin-left: 85px;
        
                }
        
            }
    
        }


    }

    .tarjeta{

        #persona-img{

            margin-left: -5px;
            width: 200px;


        }

    }


    .textoEmpleados {

        margin-left: 210px;
        margin-bottom: 50px;
        


    }

    .fondoEmpleados {

        display: grid;
        margin-left: -135px;
        grid-template-columns: auto;
        background: #f3f1f5;
        padding: 50px;
        gap: 20px;

        .card1{

            margin-left:220px;

        }


    }

    .grillaCards {

        display: grid;
        grid-template-columns: 2fr;
        padding-left: 130px;
        margin-left: -10px;
        gap: 30px;

        #mediaCate {

            margin-left: 30px;
            margin-bottom: 40px;

        }


    }

    .metodosdePago{


        .mediosPago{
            margin-left: 100px;

        }


        margin-left: -80px;


    }

}

/* ---------------- //Media queries para index iphone (480px a 550px) ---------------- */

@media(min-width:550px) and (max-width:650px) {
    


    .fondo{

        div {



            .txtInicio {
    
                text-align: center;
                margin: -10px;
                margin-left: -10px;
                color: white;
                font-weight: bolder;
                font-size: 50px;
                margin-top: 30px;
    
    
    
            }
    
            .subInicio {
    
                color: white;
                font-size: 50px;
                text-align: center;
                margin: -20px;
                margin-top: 80px;
                margin-bottom: 80px;
                font-weight: bolder;
    
            }
    
        }

    }

    .background-top{

        .container{


            .tarjeta{
    
                .randomBtn{
        
                    margin-left: 103px;
        
                }
        
            }
    
        }


    }

    .tarjeta{

        #persona-img{

            margin-left: -5px;
            width: 200px;


        }

    }


    .textoEmpleados {

        margin-left: 210px;
        margin-bottom: 50px;
        


    }

    .fondoEmpleados {

        display: grid;
        margin-left: -135px;
        grid-template-columns: auto;
        background: #f3f1f5;
        padding: 50px;
        gap: 20px;

        .card1{

            margin-left:220px;

        }


    }

    .grillaCards {

        display: grid;
        grid-template-columns: 2fr;
        padding-left: 130px;
        margin-left: -10px;
        gap: 30px;

        #mediaCate {

            margin-left: 30px;
            margin-bottom: 40px;

        }


    }

    .metodosdePago{


        .mediosPago{
            margin-left: 100px;

        }


        margin-left: -80px;


    }

}


/* ---------------- //Media queries para index iphone (650px a 750px) ---------------- */

@media(min-width:650px) and (max-width:750px) {
    


    .fondo{

        div {



            .txtInicio {
    
                text-align: center;
                margin: -10px;
                margin-left: -10px;
                color: white;
                font-weight: bolder;
                font-size: 50px;
                margin-top: 30px;
    
    
    
            }
    
            .subInicio {
    
                color: white;
                font-size: 50px;
                text-align: center;
                margin: -20px;
                margin-top: 80px;
                margin-bottom: 80px;
                font-weight: bolder;
    
            }
    
        }

    }

    .background-top{

        .container{


            .tarjeta{
    
                .randomBtn{
        
                    margin-left: 103px;
        
                }
        
            }
    
        }


    }

    .tarjeta{

        #persona-img{

            margin-left: -5px;
            width: 200px;


        }

    }


    .textoEmpleados {

        margin-left: 195px;
        margin-bottom: 50px;
        


    }

    .fondoEmpleados {

        display: grid;
        margin-left: -45px;
        grid-template-columns: auto;
        background: #f3f1f5;
        padding: 50px;
        gap: 20px;

        .card1{

            margin-left:220px;

        }


    }

    .grillaCards {

        display: grid;
        grid-template-columns: 2fr;
        padding-left: 130px;
        margin-left: -10px;
        gap: 30px;

        #mediaCate {

            margin-left: 30px;
            margin-bottom: 40px;

        }

        .card{

            margin-left: 100px;

        }


    }

    .metodosdePago{


        .mediosPago{
            margin-left: 180px;

        }


        margin-left: -170px;


    }

}


/* ---------------- //Media queries para index iphone (650px a 750px) ---------------- */

@media(min-width:750px) and (max-width:850px) {
    


    .fondo{

        div {



            .txtInicio {
    
                text-align: center;
                margin: -10px;
                margin-left: -10px;
                color: white;
                font-weight: bolder;
                font-size: 50px;
                margin-top: 30px;
    
    
    
            }
    
            .subInicio {
    
                color: white;
                font-size: 50px;
                text-align: center;
                margin: -20px;
                margin-top: 80px;
                margin-bottom: 80px;
                font-weight: bolder;
    
            }
    
        }

    }

    .background-top{

        .container{


            .tarjeta{
    
                .randomBtn{
        
                    margin-left: 103px;
        
                }
        
            }
    
        }


    }

    .tarjeta{

        #persona-img{

            margin-left: -5px;
            width: 200px;


        }

    }


    .textoEmpleados {

        margin-left: 195px;
        margin-bottom: 50px;
        


    }

    .fondoEmpleados {

        display: grid;
        margin-left: 5px;
        grid-template-columns: auto;
        background: #f3f1f5;
        padding: 50px;
        gap: 20px;

        .card1{

            margin-left:220px;

        }


    }

    .grillaCards {

        display: grid;
        grid-template-columns: 2fr;
        padding-left: 130px;
        margin-left: -10px;
        gap: 30px;

        #mediaCate {

            margin-left: 75px;
            margin-bottom: 40px;

        }

        .card{

            margin-left: 150px;

        }


    }

    .metodosdePago{


        .mediosPago{
            margin-left: 140px;

        }


        margin-left: -120px;


    }

}


/* ---------------- //Media queries para index iphone (850px a 950px) ---------------- */

@media(min-width:850px) and (max-width:950px) {
    


    .fondo{

        div {



            .txtInicio {
    
                text-align: center;
                margin: -10px;
                margin-left: -10px;
                color: white;
                font-weight: bolder;
                font-size: 50px;
                margin-top: 30px;
    
    
    
            }
    
            .subInicio {
    
                color: white;
                font-size: 50px;
                text-align: center;
                margin: -20px;
                margin-top: 80px;
                margin-bottom: 80px;
                font-weight: bolder;
    
            }
    
        }

    }

    .background-top{

        .container{


            .tarjeta{
    
                .randomBtn{
        
                    margin-left: 103px;
        
                }
        
            }
    
        }


    }

    .tarjeta{

        #persona-img{

            margin-left: -5px;
            width: 200px;


        }

    }


    .textoEmpleados {

        margin-left: 225px;
        margin-bottom: 50px;
        


    }

    .fondoEmpleados {

        display: grid;
        margin-left: 5px;
        grid-template-columns: auto;
        background: #f3f1f5;
        padding: 50px;
        gap: 20px;

        .card1{

            margin-left: 260px;

        }


    }

    .grillaCards {

        display: grid;
        grid-template-columns: 2fr;
        padding-left: 130px;
        margin-left: -10px;
        gap: 30px;

        #mediaCate {

            margin-left: 115px;
            margin-bottom: 40px;

        }

        .card{

            margin-left: 185px;

        }


    }

    .metodosdePago{


        .mediosPago{
            margin-left: 90px;

        }


        margin-left: -90px;


    }

}

/* ---------------- //Media queries para index iphone (950px a 1020px) ---------------- */

@media(min-width:950px) and (max-width:1020px) {
    


    .fondo{

        div {



            .txtInicio {
    
                text-align: center;
                margin: -10px;
                margin-left: -10px;
                color: white;
                font-weight: bolder;
                font-size: 50px;
                margin-top: 30px;
    
    
    
            }
    
            .subInicio {
    
                color: white;
                font-size: 50px;
                text-align: center;
                margin: -20px;
                margin-top: 80px;
                margin-bottom: 80px;
                font-weight: bolder;
    
            }
    
        }

    }

    .background-top{

        .container{


            .tarjeta{
    
                .randomBtn{
        
                    margin-left: 103px;
        
                }
        
            }
    
        }


    }

    .tarjeta{

        #persona-img{

            margin-left: -5px;
            width: 200px;


        }

    }


    .textoEmpleados {

        margin-left: 275px;
        margin-bottom: 50px;
        


    }

    .fondoEmpleados {

        display: grid;
        margin-left: 5px;
        grid-template-columns: auto;
        background: #f3f1f5;
        padding: 50px;
        gap: 20px;

        .card1{

            margin-left: 315px;

        }


    }

    .grillaCards {

        display: grid;
        grid-template-columns: 2fr;
        padding-left: 130px;
        margin-left: -10px;
        gap: 30px;

        #mediaCate {

            margin-left: 185px;
            margin-bottom: 40px;

        }

        .card{

            margin-left: 265px;

        }


    }

    .metodosdePago{


        .mediosPago{
            margin-left: 50px;

        }


        margin-left: -30px;


    }

}

/* ---------------- //Media queries para index iphone (1020px a 1033px) ---------------- */

@media(min-width:1020px) and (max-width:1033px) {
    


    .fondo{

        div {



            .txtInicio {
    
                text-align: center;
                margin: -10px;
                margin-left: -10px;
                color: white;
                font-weight: bolder;
                font-size: 50px;
                margin-top: 30px;
    
    
    
            }
    
            .subInicio {
    
                color: white;
                font-size: 50px;
                text-align: center;
                margin: -20px;
                margin-top: 80px;
                margin-bottom: 80px;
                font-weight: bolder;
    
            }
    
        }

    }

    .background-top{

        .container{


            .tarjeta{
    
                .randomBtn{
        
                    margin-left: 103px;
        
                }
        
            }
    
        }


    }

    .tarjeta{

        #persona-img{

            margin-left: -5px;
            width: 200px;


        }

    }


    .textoEmpleados {

        margin-left: 285px;
        margin-bottom: 50px;
        


    }

    .fondoEmpleados {

        display: grid;
        margin-left: 5px;
        grid-template-columns: auto;
        background: #f3f1f5;
        padding: 50px;
        gap: 20px;

        .card1{

            margin-left: 335px;

        }


    }

    .grillaCards {

        display: grid;
        grid-template-columns: 2fr;
        padding-left: 130px;
        margin-left: -10px;
        gap: 30px;

        #mediaCate {

            margin-left: 185px;
            margin-bottom: 40px;

        }

        .card{

            margin-left: 265px;

        }


    }

    .metodosdePago{


        .mediosPago{
            margin-left: 180px;

        }


        margin-left: -160px;


    }

}


/* ---------------- //Media queries para index iphone (1033px a 1200px) ---------------- */

@media(min-width:1033px) and (max-width:1200px) {
    


    .fondo{

        div {



            .txtInicio {
    
                text-align: center;
                margin: -10px;
                margin-left: -10px;
                color: white;
                font-weight: bolder;
                font-size: 50px;
                margin-top: 30px;
    
    
    
            }
    
            .subInicio {
    
                color: white;
                font-size: 50px;
                text-align: center;
                margin: -20px;
                margin-top: 80px;
                margin-bottom: 80px;
                font-weight: bolder;
    
            }
    
        }

    }

    .background-top{

        .container{


            .tarjeta{
    
                .randomBtn{
        
                    margin-left: 103px;
        
                }
        
            }
    
        }


    }

    .tarjeta{

        #persona-img{

            margin-left: -5px;
            width: 200px;


        }

    }


    .textoEmpleados {

        margin-left: 285px;
        margin-bottom: 50px;
        


    }

    .fondoEmpleados {

        display: grid;
        margin-left: 5px;
        grid-template-columns: auto;
        background: #f3f1f5;
        padding: 50px;
        gap: 20px;

        .card1{

            margin-left: 335px;

        }


    }

    .grillaCards {

        display: grid;
        grid-template-columns: 2fr;
        padding-left: 130px;
        margin-left: -10px;
        gap: 30px;

        #mediaCate {

            margin-left: 185px;
            margin-bottom: 40px;

        }

        .card{

            margin-left: 265px;

        }


    }

    .metodosdePago{


        .mediosPago{
            margin-left: 180px;

        }


        margin-left: -160px;


    }

}


/* ---------------- //Media queries para index iphone (1200px a 1250px) ---------------- */

@media(min-width:1200px) and (max-width:1250px) {
    


    .fondo{

        div {



            .txtInicio {
    
                text-align: center;
                margin: -10px;
                margin-left: -10px;
                color: white;
                font-weight: bolder;
                font-size: 50px;
                margin-top: 30px;
    
    
    
            }
    
            .subInicio {
    
                color: white;
                font-size: 50px;
                text-align: center;
                margin: -20px;
                margin-top: 80px;
                margin-bottom: 80px;
                font-weight: bolder;
    
            }
    
        }

    }

    .background-top{

        .container{


            .tarjeta{
    
                .randomBtn{
        
                    margin-left: 103px;
        
                }
        
            }
    
        }


    }

    .tarjeta{

        #persona-img{

            margin-left: -5px;
            width: 200px;


        }

    }


    .textoEmpleados {

        margin-left: 35px;
        margin-bottom: 50px;
        


    }

    .fondoEmpleados {

        display: grid;
        margin-left: 5px;
        grid-template-columns: auto auto auto auto;
        background: #f3f1f5;
        padding: 50px;
        gap: 20px;

        .card1{

            margin-left: 35px;

        }


    }

    .grillaCards {

        display: grid;
        grid-template-columns: auto auto auto auto auto;
        padding-left: 130px;
        margin-left: -410px;
        gap: 5px;

        #mediaCate {

            margin-left: 315px;
            margin-bottom: 40px;

        }

        .card{

            margin-left: 5px;

        }


    }

    .metodosdePago{


        .mediosPago{
            margin-left: 100px;

        }


        margin-left: -70px;


    }

}

