//Medias Medios de pago index (480px)
@media (max-width:480px) {


    .metodos--icono1,
    .metodos--icono2,
    .metodos--icono3,
    .metodos--icono4,
    .metodos--icono5,
    .metodos--icono6 {

        margin-left: 200px;
        margin-top: 100px;
        margin-bottom: 150px;


    }

    .grillaCards {

        display: grid;
        grid-template-columns: 2fr;
        padding-left: 130px;
        gap: 30px;

        #mediaCate {

            margin-left: 30px;
            margin-bottom: 40px;

        }


    }


}

//Medias nuestros empleados index (480px)

@media (max-width:480px) {

    .textoEmpleados {

        margin-left: 180px;
        margin-bottom: 50px;
        


    }

    .fondoEmpleados {

        display: grid;
        margin-left: -65px;
        grid-template-columns: auto;
        background: #f3f1f5;
        padding: 10px;
        gap: 20px;


    }



}


@media (min-width: 768px){

    .btnCompra{

        padding: .75rem 1.5rem;
        

    }

}


@media (max-width:480px){

    .fondo{

        div {



            .txtInicio {
    
                text-align: center;
                margin: 40px;
                margin-left: 50px;
                color: white;
                font-weight: bolder;
                font-size: 50px;
    
    
    
            }
    
            .subInicio {
    
                color: white;
                font-size: 50px;
                text-align: center;
                margin: 10px;
                margin-top: 40px;
                margin-bottom: 80px;
                font-weight: bolder;
    
            }
    
        }

    }

}


@media(max-width:480px){

    .categorias{

        margin-top: 35px;

    }

}


@media(max-width:480px){

    .background-top{

        .container{


            .tarjeta{
    
                .randomBtn{
        
                    margin-left: 85px;
        
                }
        
            }
    
        }


    }
    

}


/* ---------------- //Media queries para index iphone (375px) ---------------- */

@media (max-width:375px){

    .fondo{

        div {



            .txtInicio {
    
                text-align: center;
                margin: -10px;
                margin-left: -10px;
                color: white;
                font-weight: bolder;
                font-size: 50px;
                margin-top: 30px;
    
    
    
            }
    
            .subInicio {
    
                color: white;
                font-size: 50px;
                text-align: center;
                margin: -20px;
                margin-top: 80px;
                margin-bottom: 80px;
                font-weight: bolder;
    
            }
    
        }

    }

}




@media(max-width:375px){

    .background-top{

        .container{


            .tarjeta{
    
                .randomBtn{
        
                    margin-left: 35px;
        
                }
        
            }
    
        }


    }
    

}

@media (max-width:375px) {

    .tarjeta{

        #persona-img{

            margin-left: -5px;
            width: 200px;


        }

    }


    .textoEmpleados {

        margin-left: 185px;
        margin-bottom: 50px;
        


    }

    .fondoEmpleados {

        display: grid;
        margin-left: -170px;
        grid-template-columns: auto;
        background: #f3f1f5;
        padding: 50px;
        gap: 20px;


    }



}


@media(max-width:375px){

    .grillaCards {

        display: grid;
        grid-template-columns: 2fr;
        padding-left: 130px;
        margin-left: -60px;
        gap: 30px;

        #mediaCate {

            margin-left: 30px;
            margin-bottom: 40px;

        }


    }


}

@media (max-width:480px) {


    .metodos--icono1,
    .metodos--icono2,
    .metodos--icono3,
    .metodos--icono4,
    .metodos--icono5,
    .metodos--icono6 {

        margin-left: 70px;
        margin-top: 100px;
        margin-bottom: 150px;


    }
}


/* ---------------- //Media queries para index iphone (414px) ---------------- */

@media (max-width:414px){

    .fondo{

        div {



            .txtInicio {
    
                text-align: center;
                margin: -15px;
                margin-left: -30px;
                color: white;
                font-weight: bolder;
                font-size: 50px;
                margin-top: 30px;
    
    
    
            }
    
            .subInicio {
    
                color: white;
                font-size: 50px;
                text-align: center;
                margin: -30px;
                margin-left: -45px;
                margin-top: 80px;
                margin-bottom: 80px;
                font-weight: bolder;
    
            }
    
        }

    }

}




@media(max-width:414px){

    .background-top{

        .container{


            .tarjeta{
    
                .randomBtn{
        
                    margin-left: 35px;
        
                }
        
            }
    
        }


    }
    

}

@media (max-width:414px) {

    .tarjeta{

        #persona-img{

            margin-left: -5px;
            width: 200px;


        }

    }


    .textoEmpleados {

        margin-left: 185px;
        margin-bottom: 50px;
        


    }

    .fondoEmpleados {

        display: grid;
        margin-left: -170px;
        grid-template-columns: auto;
        background: #f3f1f5;
        padding: 50px;
        gap: 20px;


    }



}


@media(max-width:414px){

    .grillaCards {

        display: grid;
        grid-template-columns: 2fr;
        padding-left: 130px;
        margin-left: -60px;
        gap: 30px;

        #mediaCate {

            margin-left: 30px;
            margin-bottom: 40px;

        }


    }


}

@media (max-width:414px) {


    .metodos--icono1,
    .metodos--icono2,
    .metodos--icono3,
    .metodos--icono4,
    .metodos--icono5,
    .metodos--icono6 {

        margin-left: 70px;
        margin-top: 100px;
        margin-bottom: 150px;


    }
}

@media(max-width:414px){


    .background-top{

        .masComprados{

            margin-left: -40px;

        }

        .container{


            .tarjeta{

                margin-left: -10px;
    
                .randomBtn{
        
                    margin-left: 65px;
        
                }
        
            }
    
        }


    }


}


/* ---------------- //Media queries para index samsung galaxy A51/71 (412px) ---------------- */


@media (max-width:412px){

    .fondo{

        div {



            .txtInicio {
    
                text-align: center;
                margin: -20px;
                margin-left: -10px;
                color: white;
                font-weight: bolder;
                font-size: 50px;
                margin-top: 30px;
    
    
    
            }
    
            .subInicio {
    
                color: white;
                font-size: 50px;
                text-align: center;
                margin: -50px;
                margin-left: -25px;
                margin-top: 80px;
                margin-bottom: 80px;
                font-weight: bolder;
    
            }
    
        }

    }

}




@media(max-width:412px){

    .background-top{

        .container{


            .tarjeta{
    
                .randomBtn{
        
                    margin-left: 35px;
        
                }
        
            }
    
        }


    }
    

}

@media (max-width:412px) {

    .tarjeta{

        #persona-img{

            margin-left: -5px;
            width: 200px;


        }

    }


    .textoEmpleados {

        margin-left: 185px;
        margin-bottom: 50px;
        


    }

    .fondoEmpleados {

        display: grid;
        margin-left: -145px;
        grid-template-columns: auto;
        background: #f3f1f5;
        padding: 50px;
        gap: 20px;


    }



}


@media(max-width:412px){

    .grillaCards {

        display: grid;
        grid-template-columns: 2fr;
        padding-left: 130px;
        margin-left: -50px;
        gap: 30px;

        #mediaCate {

            margin-left: 30px;
            margin-bottom: 40px;

        }


    }


}

@media (max-width:412px) {


    .metodos--icono1,
    .metodos--icono2,
    .metodos--icono3,
    .metodos--icono4,
    .metodos--icono5,
    .metodos--icono6 {

        margin-left: 78px;
        margin-top: 100px;
        margin-bottom: 150px;


    }
}

@media(max-width:412px){


    .background-top{

        .masComprados{

            margin-left: -15px;

        }

        .container{


            .tarjeta{

                margin-left: 10px;
    
                .randomBtn{
        
                    margin-left: 65px;
        
                }
        
            }
    
        }


    }


}